*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 20px 60px;
}
header{
    height: 100px;
    background-color: #E579E6;
    margin-bottom: 20px;
}
#logo{
    height: 100px;
}
a{
    text-decoration: none;
}
nav{
    padding: 20px;
}
nav li {
    display: inline-block;
    margin-right: 10px;
}
nav li a {
    color: grey;
    text-transform: uppercase;
    font-size: 16px;
}
.sezione-top{
    height: 400px; /*andrà tolta */
    background-color: #E1D67A;
    margin-bottom: 20px;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;
}
.sezione-bot{
    /*andrà tolta */
    background-color: #0086FF;
    margin-bottom: 20px;
}              
.riga-top{
    height: 40px;
    background-color: #ABCFE7;
    margin-bottom: 50px;
}
.colonna{
    float: left;
    margin-bottom: 20px;
}
.sinistra{
    width: 32%;
    margin-right: 2%;
    background-color: #ABCFE7;  
    height: 600px;/* va tolta */
    
}
.centrale{
    width: 32%;
    margin-right: 2%;
    background-color: #ABCFE7; 
    height: 600px;/* va tolta */
    
}
.destra{
    width: 32%;
    background-color: #ABCFE7; 
    height: 600px;/* va tolta */
}
footer{
    height: 80px;
    background-color: #8801FE;
}
