*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* commons */

h2 {
    font-family: 'Oswald', sans-serif;
}

li {
 list-style: none;
}

a {
    text-decoration: none;
}

/* header */
header {
    margin-bottom: 20px;
}

.logo{
    height: 70px;
}

nav {
    padding: 20px 0;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

nav li a {
    color: grey;
    text-transform: uppercase;
    font-size: 16px;
}

.bgc-scuro{
    background-color: black;
    border-radius: 10px;

}
.jumbotron {
    margin-top: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    margin-bottom: 50px;
    border-radius: 10px;
    opacity: 0.5;
    
}

.testo-img{
    float:left;
    font-size: 20px; 
    color: lightslategray;
}
.top{
    margin: 220px 70px 0px 40px;
}
.bot{
    margin: 0px 90px 20px 40px;
}
.clearfix::after{
    clear: both;
    content: "";
    display: table;
}

/* main */

.col-sx, 
.col-dx {
    width: 30%;
    float:left;
    font-size: 16px;
}

.container-main {
    width: 30%;
    margin: 0 2%;
    float:left;
    font-size: 16px;
}
}

.section-main{
    margin: 20px 0;
}

.section-main::after {
    content:'';
    display: table;
    clear:both;
}

.uomo{
    background-image: url(../img/banner-2.jpg);
    background-position: center;
    opacity: 0.5;
    height: 300px;
}
.opacity{
    opacity: 0.5;
    height: 280px;
}
.lampada{
    background-image: url(../img/img-3.jpg);
    background-position: center;
    opacity: 0.5;
    height: 300px;
}
.pianta{
    background-image: url(../img/img-1.jpg);
    background-position: center;
    opacity: 0.5;
    height: 300px;
}
.cuore{
    color: red;
}
footer{
    text-align: center;
}
.pippo{
 color: black;
 margin-right: 6px;
 font-weight: bold;
}
.riga-pippo{
   vertical-align: 5px;
} 
.uomo-pc{
    background-image: url(../img/img-4.jpg);
    margin-top: 30px;
}
.ragazzi{
    background-image: url(../img/img-5.jpg);
    margin-top: 30px;
}
.ragazza-pc{
    background-image: url(../img/img-6.jpg);
    margin-top: 30px;

}

 
/* debug - sezione che andrò ad elimininare */
/* .debug #logo {
    height: 70px;
    background-color: green;
} */

/* .debug nav {
    background-color:lightblue;
} */

/* .debug .jumbotron {
    height: 400px;
    background-color: tomato;
} */


/* .debug .section-title{
    height: 70px;
    background-color: cyan;
}

.debug .col-sx,
.debug .col-dx {
    height: 500px;
    background-color: yellow;
} */

/* .debug .container-main {
    height: 500px;
    background-color: red;
} */


/* .debug footer{
    height: 40px;
    background-color: violet;
} */